* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,
body {
    height: 100%;
    background: rgba(225, 225, 225)
}

body {
    overflow-x: hidden;
}

/**Boot**/

.clear {
    clear: both;
}

.center {
    padding: 0 2%;
    margin: 0 auto;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 48%;
    background: red !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

/**Login Page**/

section.login-box {
    position: absolute;
    max-width: 600px;
    width: 95%;
    padding: 40px 2%;
    left: 50%;
    top: 50%;
    border: 1px solid #22d1a5;
    border-radius: 2.5px;
    box-shadow: 5px 5px 5px #093b2f6b;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: white;
}

section.login-box h2 {
    position: relative;
    text-align: center;
    bottom: 15px;
    color: #29c09a;
}

section.login-box input[type="text"],
section.login-box input[type="password"] {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin-top: 5px;
}

section.login-box input[type="submit"] {
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 8px;
    font-size: 16px;
    background: #22d1a5;
    color: white;
}

/**Error Box**/

.error-box {
    position: relative;
    width: 100%;
    text-align: center;
    background: #e96d6d;
    border : 3px solid #f73333;
    color: white;
    font-size: 18px;
    padding: 10px 2%;
    top: 20px;
}

/**Main**/

header.header-container {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    background: #1fc098;
    padding: 10px 0;
}

ul.navbar {
    list-style: none;
}

li.logout-btn {
    float: right;
}

li.logout-btn a {
    text-decoration: none;
    color: #fff;
}

/* !-clear- */
li.home-btn {
    float: right;
}

li.home-btn a {
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
}

aside.menu {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    float: left;
    left: 0;
    top: 0;
    padding: 10px 0;
    background-color: red;
    width: 300px;
    background: #60858b;
}

.menu-btn {
    float: left;
    cursor: pointer;
    font-size: 23px;
    color: white;
}

.user-box {
    text-align: center;
}

.user-pic-icon {
    text-align: left;
    display: inline-block;
    width: 130px;
    height: 130px;
    border: 3px solid #2f3d42;
    border-radius: 50%;
    background-color: #4b7880;
}

.user-pic-icon i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}

.user-pic {
    display: inline-block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.user-pic img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #2f3d42;
}

.user-name {
    text-align: center;
    margin-top: 10px;
}

.user-name p {
    color: white;
    font-size: 16px;
}

.menu-items {
    margin-top: 10px;
    width: 100%;
}

.menu-items h2 {
    /* border-top: 3px solid #4b7880;
    border-bottom: 3px solid #4b7880; */
    background: #2f3d42;
    color: white;
    padding: 8px;
    text-align: left;
    font-size: 16px;
}

.menu-items a {
    border-bottom: 3px solid #2f3d42;
    color: white;
    padding: 8px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400px;
    background-color: #4b7880;
}

/**Main Content**/

main.main-container {
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}

section.content-box {
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

.stats-box {
	margin-top: 16px;
	padding: 0 15px;
}

.stats-box-single {
	float: left;
	position: relative;
	width: 33.3%;
	background: #F4B03E;
    border: 5px solid white;
    padding-left: 15px;
}

.stats-box .stats-box-single:nth-of-type(2) {
	background: #E05C4E;
}

.stats-box .stats-box-single:nth-of-type(3) {
	background: #0091ea;
}

.stats-box-wrapper {
	padding: 10px 20px;
	text-align: left;
	color: white;
}

.stats-box-wrapper h2 {
	font-size: 28px;
}

.stats-box-wrapper p {
	padding: 10px 0;
	font-size: 26px;
}

/**Table**/

table.users-table {
    margin: 20px auto;
    max-width: 1280px;
    width: 100%;
}

.col th {
    padding: 0 150px;
    border-bottom: 2px solid #333;
}

.col td {
    padding: 0 250px;
    border-bottom: 2px solid #333;  
}

.col td:nth-of-type(2) {
    padding: 0 250px;
}

/**Res**/ 

@media screen and (max-width: 1200px) {
    .stats-box-single  {
        height: 200px;
    }
}

@media screen and (max-width: 1024px) {
    aside.menu {
        width: 250px;
    }

    header.header-container {
        left: 250px;
        width: calc(100% - 250px)
    }

    main.main-container {
        width: calc(100% - 250px);
        left: 250px;
    }

    .stats-box-single {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    aside.menu {
        width: 0;
        padding: 0;
    }

    header.header-container {
        width: 100%;
        left: 0;
    }

    main.main-container {
        left: 0;
        width: 100%;
    }

    .stats-box-single  {
        height: 150px;
    }

    .user-pic-icon {
        width: 100px;
        height: 100px;
    }
    
    .user-pic-icon i {
        font-size: 35px;
    }

    .user-pic {
        width: 100px;
        height: 100px;
    }
    
    .user-pic img {
        width: 100px;
        height: 100px;
    }

    .user-name p {
        font-size: 14px;
    }
}