* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html,
body {
    height: 100%;
    background: rgba(225, 225, 225)
}

body {
    overflow-x: hidden;
}

/**Boot**/

.clear {
    clear: both;
}

.center {
    padding: 0 2%;
    margin: 0 auto;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 48%;
    background: red !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

/**Login Page**/

section.login-box {
    position: absolute;
    max-width: 600px;
    width: 95%;
    padding: 40px 2%;
    left: 50%;
    top: 50%;
    border: 1px solid #22d1a5;
    border-radius: 2.5px;
    box-shadow: 5px 5px 5px #093b2f6b;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: white;
}

section.login-box h2 {
    position: relative;
    text-align: center;
    bottom: 15px;
    color: #29c09a;
}

section.login-box input[type="text"],
section.login-box input[type="password"] {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin-top: 5px;
}

section.login-box input[type="submit"] {
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-top: 8px;
    font-size: 16px;
    background: #22d1a5;
    color: white;
}

/**Error Box**/

.error-box {
    position: relative;
    width: 100%;
    text-align: center;
    background: #e96d6d;
    border : 3px solid #f73333;
    color: white;
    font-size: 18px;
    padding: 10px 2%;
    top: 20px;
}

/**Main**/

header.header-container {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    background: #1fc098;
    padding: 10px 0;
}

/* !-clear- */
div.logout {
    float: right;
}

div.logout a {
    text-decoration: none;
    color: #fff;
}

div.menu-wrapper {
    width: 300px;
}

aside.menu {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    float: left;
    left: 0;
    top: 0;
    padding: 10px;
    background-color: red;
    width: 300px;
    background: #60858b;
}

.menu-btn {
    float: left;
    cursor: pointer;
    font-size: 23px;
    color: white;
}

.user-box {
    text-align: center;
}

.user-pic-icon {
    text-align: left;
    display: inline-block;
    width: 130px;
    height: 130px;
    border: 3px solid #2f3d42;
    border-radius: 50%;
    background-color: #4b7880;
}

.user-pic-icon i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}

.user-name {
    text-align: center;
    margin-top: 10px;
}

.user-name p {
    color: white;
    font-size: 16px;
}

/**Main Content**/

main.main-container {
    width: calc(100% - 300px);
    position: relative;
    left: 300px;
    padding: 10px;
}

section.content-box {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
}

/**Res**/ 

@media screen and (max-width: 1024px) {
    aside.menu {
        width: 250px;
    }

    header.header-container {
        left: 250px;
        width: calc(100% - 250px)
    }

    main.main-container {
        width: calc(100% - 250px);
        left: 250px;
    }
}

@media screen and (max-width: 768px) {
    aside.menu {
        width: 0;
        padding: 0;
    }

    .menu-wrapper {
        width: 200px;
    }

    header.header-container {
        width: 100%;
        left: 0;
    }

    main.main-container {
        left: 0;
        width: 100%;
    }

    .user-pic-icon {
        width: 100px;
        height: 100px;
    }
    
    .user-pic-icon i {
        font-size: 35px;
    }

    .user-name p {
        font-size: 14px;
    }
}